<div class="dashboard-container">
  <div class="sidebar">
    
    
<div class="brand-title">
      <img class="logo" src="assets/tech2.png" alt="logo" />
      <h3>News in the Block</h3>
    </div>

    <button class="new-post" (click)="opennewpost()">+ New Post</button>

<ul class="menu-list">
  <li [class.active]="activeTab === 'forYou'" (click)="homeclick()">
    <i class="fi fi-rr-house-chimney"></i> &nbsp;Home
  </li>
  <li [class.active]="activeTab === 'following'" (click)="followingclick()">
    <i class="fi fi-rr-following"></i> &nbsp;Following
  </li>
  <li [class.active]="activeTab === 'saved'" (click)="savedclick()">
    <i class="fi fi-rr-bookmark"></i> &nbsp;Saved
  </li>
</ul>
  </div>

  <div class="main-content">
    <div class="topbar">
      <input
        type="text"
        placeholder="Search"
        class="search-input"
        [(ngModel)]="searchText"
        (input)="onSearch()" />
      <div class="icons">
        <span (click)="noticlick()" style="position: relative;">
  <i class="fi fi-rr-bell" style="height: 40px; width: 30px; color: rgb(9, 78, 35);"></i>
  <span *ngIf="hasUnreadNotifications" class="notification-dot"></span>
</span> &nbsp;

        <span 
          class="profile-wrapper" 
          (click)="toggleDropdown()" 
          (blur)="closeDropdown()" 
          tabindex="0">
          <i class="fi fi-rr-user" style="height: 40px; width: 30px; color: rgb(9, 78, 35);"></i> 
          <div class="dropdown" *ngIf="showDropdown">
            <a [class.active]="activeTab === 'editprofile'" (click)="openeditprofile()">Edit Profile</a>
            <a (click)="logout()">Logout</a>
          </div>
        </span>
      </div>
    </div>

    <app-search
      *ngIf="isSearching"
      [newsList]="searchResults"
      (tileClicked)="opentiledata($event)">
    </app-search>

    <div class="tabs" *ngIf="!isSearching && activeTab !== 'tilenewsdetails' && activeTab !== 'editprofile' && activeTab !== 'newpost' && activeTab !== 'following' && activeTab !== 'saved'">
      <button class="tab" [class.active]="activeTab === 'forYou'" (click)="openforyou()">For You</button>
      <button class="tab" [class.active]="activeTab === 'trending'" (click)="opentrending()">Trending</button>
    </div>

    
    <div class="feed-message" *ngIf="!isSearching && activeTab === 'forYou' && feedStatus !== 'ready'">
      <div *ngIf="feedStatus === 'noprefs'">
        <p>You haven't selected any preferences yet.</p>
        <button class="add-btn" (click)="openeditprofile()">Add Preferences</button>
      </div>

      <div *ngIf="feedStatus === 'nofollowed'">
        <p>You aren't following anyone yet.</p>
        <button class="add-btn" (click)="followingclick()">Find People</button>
      </div>

      <div *ngIf="feedStatus === 'nonews'">
        <p>No posts available from followed users yet.</p>
      </div>
    </div>

    <div class="post-grid" *ngIf="!isSearching && activeTab !== 'tilenewsdetails'">
      <app-foryou
    *ngIf="activeTab === 'forYou' && feedStatus === 'ready'"
    [newsList]="newsList"
    (tileClicked)="opentiledata($event)">
  </app-foryou>

  <app-trending *ngIf="activeTab === 'trending'" (tileClicked)="opentiledata($event)"></app-trending>
    </div>

    <app-tilenewsdetails 
      *ngIf="activeTab === 'tilenewsdetails' && selectedNewsItem"
      [newsItem]="selectedNewsItem"
      (backClicked)="openforyou()">
    </app-tilenewsdetails>

    <app-saved *ngIf="activeTab === 'saved'" (tileClicked)="opentiledata($event)"></app-saved>
    <app-following *ngIf="activeTab === 'following'" (tileClicked)="opentiledata($event)"></app-following>

    <app-editprofile
      *ngIf="activeTab === 'editprofile'"
      (backClicked)="openforyou()">
    </app-editprofile>

    <app-newpost
      *ngIf="activeTab === 'newpost'">
    </app-newpost>
  </div>

  <app-notifications *ngIf="showNotifications" (close)="closeNotifications()"></app-notifications>
</div>

<div class="popup-overlay" *ngIf="logoutConfirmationVisible">
  <div class="popup">
    <p>Are you sure you want to log out?</p>
    <div class="popup-buttons">
      <button class="confirm-btn" (click)="confirmLogout()">Yes</button>
      <button class="cancel-btn" (click)="cancelLogout()">No</button>
    </div>
  </div>
</div>