<div class="dashboard-container">
  <div class="sidebar">
    <h3><img class="logo" src="assets/tech2.png" alt="logo"> Tech in the Block</h3>
    <button class="new-post">+ New Post</button>
    <ul class="menu-list">
      <li (click)="homeclick()">
        <i class="fi fi-rr-house-chimney" style="color: rgb(9, 78, 35)"></i> &nbsp; Home
      </li>
      <li>
        <i class="fi fi-rr-following" style="color: rgb(9, 78, 35)"></i> &nbsp; Following
      </li>
      <li>
        <i class="fi fi-rr-bookmark" style="color: rgb(9, 78, 35)"></i> &nbsp; Saved
      </li>
    </ul>
  </div>

  <div class="main-content">
    <div class="topbar">
      <input type="text" placeholder="Search" class="search-input" />
      <div class="icons">
        <span><i class="fi fi-rr-bell" style="height: 40px; width: 30px;color: rgb(9, 78, 35)"></i></span> &nbsp;

        <span 
          class="profile-wrapper" 
          (click)="toggleDropdown()" 
          (blur)="closeDropdown()" 
          tabindex="0"
        >
          <i class="fi fi-rr-user" style="height: 40px; width: 30px; color: rgb(9, 78, 35);"></i> 
          <div class="dropdown" *ngIf="showDropdown">
            <a (click)="editProfile()">Edit Profile</a>
            <a (click)="logout()">Logout</a>
          </div>
        </span>
      </div>
    </div>

<!-- TABS -->
<div class="tabs" *ngIf="activeTab !== 'tilenewsdetails'">
  <button class="tab" [class.active]="activeTab === 'forYou'" (click)="openforyou()">For You</button>
  <button class="tab" [class.active]="activeTab === 'trending'" (click)="opentrending()">Trending</button>
</div>

<!-- Only show the grid for tiles -->
<div class="post-grid" *ngIf="activeTab !== 'tilenewsdetails'">
  <app-foryou *ngIf="activeTab === 'forYou'" [newsList]="newsList" (tileClicked)="opentiledata($event)"></app-foryou>
  <app-trending *ngIf="activeTab === 'trending'"></app-trending>
</div>

<!-- Show the full-width detail view outside the grid -->
<app-tilenewsdetails 
  *ngIf="activeTab === 'tilenewsdetails' && selectedNewsItem"
  [newsItem]="selectedNewsItem"
  (backClicked)="openforyou()">
</app-tilenewsdetails>

    </div>
  </div>


<div class="popup-overlay" *ngIf="logoutConfirmationVisible">
  <div class="popup">
    <p>Are you sure you want to log out?</p>
    <div class="popup-buttons">
      <button class="confirm-btn" (click)="confirmLogout()">Yes</button>
      <button class="cancel-btn" (click)="cancelLogout()">No</button>
    </div>
  </div>
</div>
