.notification-container {
  position: fixed;
  top: 60px; 
  right: 20px;
  width: 300px;
  max-height: 90vh;
 
  background-color: white;
  border: 2px solid ;
  border-radius: 8px;
  z-index: 1000;
  padding: 16px;
  
}

.notification-container h2 {
  margin: 0 0 12px 0;
  font-size: 18px;
  background-color: #235823;
  padding: 10px;
  color: #f4f4f4;
  
}

.notification-container button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.notification-item {
  background-color: #f4f4f4;
  margin-bottom: 10px;
  padding: 10px;
  position: relative;
}

.notification-item button {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #900;
}
