<div class="news-tile-container">
  <div *ngIf="!loading && savedNewsList.length === 0" class="no-saved-message">
    <p>You do not have any saved content here. Please save any interested news here.</p>
  </div>

  <div *ngFor="let news of savedNewsList" class="news-tile">

    <div class="tile-body" (click)="selecttile(news)">
      <h3>{{ news.news_title }}</h3>
      <p class="author-info">
        By {{ news.first_name }} {{ news.last_name }} | {{ news.created_time | date: 'medium' }}
      </p>
      <img *ngIf="news.imageBase64" [src]="'data:image/jpeg;base64,' + news.imageBase64" alt="News image" />
    </div>

    <div class="tile-actions">
      <i 
        (click)="like(news); $event.stopPropagation()" 
        [class]="'fi ' + (news.hasLiked ? 'fi-sr-thumbs-up' : 'fi-rr-social-network')">
        {{ news.likes }}
      </i>

      <i 
        (click)="unlike(news); $event.stopPropagation()" 
        [class]="'fi ' + (news.hasUnliked ? 'fi-sr-thumbs-down' : 'fi-rr-hand')">
        {{ news.unlikes }}
      </i>

      <i class="fi fi-rr-comment-alt">
        {{ news.comments.length || 0 }}
      </i>

      <i 
  (click)="news.hasSaved ? unsave(news) : save(news); $event.stopPropagation()" 
  [class]="'fi ' + (news.hasSaved ? 'fi-sr-bookmark' : 'fi-rr-bookmark')">
</i>
    </div>

  </div>
</div>
