<body>
<div class="FORGOTPASS">
  <h1 class="forgotpass">Reset Password</h1>
  <br>
  <form (ngSubmit)="openPopup()" #myform="ngForm">
    <div>
      <b class="user">Enter Email</b>
      
      <input type="email" name="email" [(ngModel)]="email" required [ngModelOptions]="{standalone: true}">
    </div>
<br>
    <div>
      <b class="pass">Enter New Password</b><br>
      
      <input [type]="showPassword ? 'text' : 'password'" name="password" [(ngModel)]="password" 
        required 
        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\\d)(?=.*[@$!%*?&])[A-Za-z\\d@$!%*?&]{8,}$"
        [ngModelOptions]="{standalone: true}">
    </div>
<br>
    <div>
      <b class="pass">Re-enter New Password</b><br>
      <input [type]="showPassword ? 'text' : 'password'" name="password1" [(ngModel)]="password1" 
        required
        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\\d)(?=.*[@$!%*?&])[A-Za-z\\d@$!%*?&]{8,}$"
        [ngModelOptions]="{standalone: true}">
    </div>
<br>
    <div>
      <input type="checkbox" [(ngModel)]="showPassword" (change)="togglePassword()" [ngModelOptions]="{standalone: true}"> <b>Show Password</b>
    </div>
<br>
    <button class="log" type="submit" [disabled]="!myform.valid || password !== password1">Reset</button>
  </form>

  <div class="popup" *ngIf="popupVisible">
    <h3>Password Reset</h3>
    <label>{{message}}</label><br><br>
    <button class="ok" (click)="closePopup()">OK</button>
  </div>

  <p *ngIf="error" style="color:red">{{error}}</p>
</div>
</body>